<?xml version="1.0" encoding="utf-8"?>
<DynamicImagesFont Key="b814744f-78bc-4be1-9e4e-f8ed8fbc3bbc" Alias="bricolagedisplay-400" Level="0">
  <Info>
    <FamilyName>BricolageDisplay</FamilyName>
    <Weight>400</Weight>
    <IsItalic>false</IsItalic>
  </Info>
  <Source Kind="path">
    <Path>/assets/fonts/BricolageGrotesque-ExtraBold.woff2</Path>
    <ContentHash>3E1B5F0A56EE995B7C1445BC54E6EC98</ContentHash>
  </Source>
  <Styles>
    <Style Name="Title" Size="58" FontStyle="Regular" />
  </Styles>
</DynamicImagesFont>