<?xml version="1.0" encoding="utf-8"?>
<DynamicImagesFont Key="c88b6989-ed9f-4201-b5b8-a154ffc9aae9" Alias="hankenbody-400" Level="0">
  <Info>
    <FamilyName>HankenBody</FamilyName>
    <Weight>400</Weight>
    <IsItalic>false</IsItalic>
  </Info>
  <Source Kind="path">
    <Path>/assets/fonts/HankenGrotesk-Regular.woff2</Path>
    <ContentHash>787B3FDD0B7E6D59AE7CE14CE7A41D1A</ContentHash>
  </Source>
  <Styles>
    <Style Name="Subtitle" Size="30" FontStyle="Regular" />
  </Styles>
</DynamicImagesFont>