<?xml version="1.0" encoding="utf-8"?>
<DynamicImagesFont Key="143e1c01-1065-486d-bbb8-f3eb50b99366" Alias="hankenmeta-400" Level="0">
  <Info>
    <FamilyName>HankenMeta</FamilyName>
    <Weight>400</Weight>
    <IsItalic>false</IsItalic>
  </Info>
  <Source Kind="path">
    <Path>/assets/fonts/HankenGrotesk-SemiBold.woff2</Path>
    <ContentHash>58F23B7AE3E13B21A4DCA4C05360BE87</ContentHash>
  </Source>
  <Styles>
    <Style Name="Meta" Size="24" FontStyle="Regular" />
  </Styles>
</DynamicImagesFont>