<?xml version="1.0" encoding="utf-8"?>
<DynamicImagesFont Key="dcf83e02-8593-4d21-96d3-6842f3304e5d" Alias="kablammo-400" Level="0">
  <Info>
    <FamilyName>Kablammo</FamilyName>
    <Weight>400</Weight>
    <IsItalic>false</IsItalic>
  </Info>
  <Source Kind="url">
    <Url>https://fonts.gstatic.com/s/kablammo/v4/bWtm7fHPcgrhC-J3lcXhcQTY5Ixs6Au9YgCjjw.ttf</Url>
    <Provider>google</Provider>
    <ProviderFamily>Kablammo</ProviderFamily>
    <ContentHash>626F5879113896A5C7BF19B8C4A2BBF4</ContentHash>
  </Source>
  <Styles />
</DynamicImagesFont>