<?xml version="1.0" encoding="utf-8"?>
<DynamicImagesFont Key="2e226104-b630-4e60-8004-b393443da144" Alias="mountains-of-christmas-400" Level="0">
  <Info>
    <FamilyName>Mountains of Christmas</FamilyName>
    <Weight>400</Weight>
    <IsItalic>false</IsItalic>
  </Info>
  <Source Kind="url">
    <Url>https://fonts.gstatic.com/s/mountainsofchristmas/v24/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7ePNY.ttf</Url>
    <Provider>google</Provider>
    <ProviderFamily>Mountains of Christmas</ProviderFamily>
    <ContentHash>31671AD6FC10D180E44A801D310911CB</ContentHash>
  </Source>
  <Styles />
</DynamicImagesFont>