<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92597674-ca86-4502-85dc-c4a0db777da4" Alias="issues" Level="1">
  <Info>
    <Name>Issues</Name>
    <Icon>icon-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Issues</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8e1c0873-4289-4246-a95b-8b42e17fc662">Issues</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="67c61f9b-ccf7-4b0e-bded-e1dc5c967626" SortOrder="0">issue</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>