<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3615821-640e-4fcb-897b-18297c7002a5" Alias="Issues" Level="2">
  <Info>
    <Parent Key="4f913fbc-d962-4b2b-aaee-65d9cf31aaec">Skrift</Parent>
    <Path>/Skrift/Issues</Path>
    <Trashed>false</Trashed>
    <ContentType>issues</ContentType>
    <CreateDate>2025-03-07T13:26:49</CreateDate>
    <NodeName Default="Issues" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e1c0873-4289-4246-a95b-8b42e17fc662">Issues</Template>
  </Info>
  <Properties />
</Content>