<?xml version="1.0" encoding="utf-8"?>
<Content Key="19fb33ae-56cf-430e-9fe1-ba9c18eec350" Alias="Showing Deba" Level="3">
  <Info>
    <Parent Key="e3615821-640e-4fcb-897b-18297c7002a5">Issues</Parent>
    <Path>/Skrift/Issues/ShowingDeba</Path>
    <Trashed>false</Trashed>
    <ContentType>issue</ContentType>
    <CreateDate>2025-03-07T13:27:41</CreateDate>
    <NodeName Default="Showing Deba" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c2a1759f-c946-42af-8a52-013833cd4fd4">Issue</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Deba]]></Value>
    </author>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <issueDate>
      <Value><![CDATA[2025-03-18T00:00:00]]></Value>
    </issueDate>
    <issueNumber>
      <Value><![CDATA[116]]></Value>
    </issueNumber>
    <socialImage>
      <Value><![CDATA[umb://media/776af48814e84cbbb53d598c3762fe11]]></Value>
    </socialImage>
  </Properties>
</Content>