<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f913fbc-d962-4b2b-aaee-65d9cf31aaec" Alias="Skrift" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skrift</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-07T13:25:32</CreateDate>
    <NodeName Default="Skrift" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="735dd58e-c326-49e7-8320-022fb255bf1e">Home</Template>
  </Info>
  <Properties />
</Content>